:root {
    --cozmiq-primary-color: #DFDFDF;
    --cozmiq-sec-color: #8D8A8B;
    --cozmiq-heading-color: #9d9d9d;
    --cozmiq-black: black;
    --cozmiq-white: white;
    --cozmiq-paragrap-color: #f6f6f6;
    --cozmiq-body-color: #0D0E14;
}