:root {
    --cozmiq-primary-color: #DFDFDF;
    --cozmiq-sec-color: #8D8A8B;
    --cozmiq-heading-color: #9d9d9d;
    --cozmiq-black: black;
    --cozmiq-white: white;
    --cozmiq-paragrap-color: #f6f6f6;
    --cozmiq-body-color: #0D0E14;


    --cozmiq-bg: #0c0e13;
    --cozmiq-panel: #131519;
    --cozmiq-panel-border: rgba(255,255,255,0.06);
    --cozmiq-text: #e7e7e7;
    --cozmiq-muted: #a7a4a4;
    --cozmiq-accent: #cde4fe;
    --cozmiq-focus: #0099ff;
    --cozmiq-radius-sm: 6px;
    --cozmiq-shadow-outer: 0 0 5px rgba(205,228,254,.5);
    --cozmiq-shadow-inset: inset 0 4px 15px rgba(255,255,255,.15);

    --cozmiq-bg: #0c0e13;
    --cozmiq-focus: #0099ff;
}