$font-url : 'https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap';
:root {
    --cozmiq-fonts-heading: "Outfit", sans-serif; 
    --cozmiq-fonts-body: "PT Serif", serif;
}